body{
    font-family: 'Roboto';
}
header,
footer {
  position: fixed;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #fff;
  z-index: 1;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header {
  top: 0;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
main {
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: #F3F3F3;

}
footer {
  bottom: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
div img, div input{
    margin-left: 22px;
    border: 0;
}
div ion-icon{
    margin-right: 22px;
    cursor:pointer;
}
img{
    width: 75px;
    height: 53px;
}
ion-icon {
    font-size: 42px;
  }

textarea{
    margin-left: 17px;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color:black;
}

.sobreposicao {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: 3;
  background: rgba(8, 8, 8, 0.96);
}

aside{
  position: fixed;
  width: 80%;
  height: 100%;
  background-color: #fff;
  margin-left:26%;
  display: flex;
  flex-direction: column;
  

}

.cabecalho{
  height: 80px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contatos{
  height: 60%;
  margin-left: 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.person{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
}
.name{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.name ion-icon{
  color:green;
  font-size: 20px;
  font-weight: bold;
}
.visibilidade{
  height: 66px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.opcoes-visibilidade{
  margin-left:20px;
}
li{
  border-radius: 2px;
  min-height: 40px;
  width: 100%;
  margin-bottom: 4px;
  padding-left: 8px;
  padding-right: 9px;
  font-family: 'Roboto';
  font-size: 24px;
  display: flex;
  align-items: center;

}
.horario{
  color: #AAAAAA;
}
.nome-user, .paraquem{
  font-family: bold;
  font-weight: 700;
}

.status{
  background: #DCDCDC;
}
.message{
  background: #ffffff;
}
.private_message{
  background:#FFDEDE ;
}


.tela-login {
  position: fixed;
  width: 100vw;
  /* display: none; */
  height: 100vh;
  background-color: #fff;
  z-index: 6;
}
.logo {
  height: 30%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.logo img {
  height: 100px;
  width: 150px;
}
.section-login {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.login,
.btn-login {
  height: 47px;
  border-radius: 3px;
  border: 1px solid #ababab;
  text-align: center;
}
.btn-login {
  width: 111px;
  border: 0;
}
.tela-carregando {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}